@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200;1,300;1,400;1,500;1,600;1,900&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:ital,wght@1,200;1,300;1,400;1,500;1,600;1,900&display=swap'); */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style-type:none;
    text-decoration:none;
    font-family: 'Poppins', sans-serif;
}

nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    height:80px;
    width:100%;
    background: #454545;
    padding:10px 0 10px 50px;
}

nav img{
    height:60px;
    width:60px;
    border-radius: 50%;
}

nav ul{
    margin-right: 200px;
}

nav ul li{
    display:inline-block;
    padding:0 20px;
}

nav ul li a{
    color: white;
    font-weight: 500;
    font-size:18px;
}

nav .menu{
    color:white;
    font-size: 20px;
    margin-right:50px;
    display: none;
}

nav .close{
    color:white;
    font-size: 20px;
    margin-right:40px;
}

.sidemenu{
    /* align-items: center; */
    display:inline-block;
    text-align: center;
    right:0;
    position: absolute;
    background: red;
    width: 100%;
    border-radius: 10px;
    /* height: 100vh; */
    display: none;
    transition: all 0.5s;
}

.sidemenu li{
    padding: 10px 10px;

}

.sidemenu li a{
    font-size: 18px;
    color: black;
    padding:10px 30px;
    transition:0.5s;

}

.sidemenu li a:hover{
    background: black;
    border-radius: 30px;
    color: white;
}







/* --------------------------------------total district list----------------------------------- */
#grid{
    width: 100%;
}

#grid input{
    width: 50%;
    left:25%;
    text-align: center;
    margin:50px 25% 0px 25%;
    font-size: 30px;
    border: none;
    border-bottom: 2px solid red;
    outline: none;
    color: blue;
}
.gallery_heading{
    font-size: 40px;
    margin:40px 0  -10px 125px;
    color:red;
}
.columns{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    grid-gap:20px;
    margin-top:20px;
    padding:2% 8%;
}
  
.row{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
  
.row h2{
    font-size: 25px;
    color:white;
    text-align: center;
    top:85%;
    padding: 0 0 0 20px;
    position: absolute;
    left: 0;
}
  
.row .img{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/bagalkote.jpeg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition:transform 0.9s ;
}

.row .img2{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/bengaluru\ urban.jpeg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition:transform 0.9s ;
}

.row .img3{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/bengaluru\ rural.jpeg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition:transform 0.9s ;
}

.row .img4{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/belagaavi.jpeg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition:transform 0.9s ;
}

.row .img5{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/Bellary.jpeg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition:transform 0.9s ;
}

.row .img6{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/bidar.jpeg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition:transform 0.9s ;
}

.row .img7{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/Chamarajnagar.jpeg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition:transform 0.9s ;
}

.row .img8{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/chikkaballapir.jpeg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition:transform 0.9s ;
}


.row .img9{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/chikkamagaluru.jpeg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition:transform 0.9s ;
}

.row .img10{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/Cgitradurga.jpeg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition:transform 0.9s ;
}

.row .img11{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/Dakshina\ kannada.jpeg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition:transform 0.9s ;
}

.row .img12{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/davanagere.jpg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition:transform 0.9s ;
}

.row .img13{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/Drarwad.jpeg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition:transform 0.9s ;
}

.row .img14{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/Gadag.jpeg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition:transform 0.9s ;
}

.row .img15{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/kalaburgi.jpeg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition:transform 0.9s ;
}

.row .img16{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/Hassan.jpeg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition:transform 0.9s ;
}

.row .img17{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/Havereri.jpg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition:transform 0.9s ;
}

.row .img18{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/kodagu.jpg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition:transform 0.9s ;
}

.row .img19{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/kolar.jpeg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition:transform 0.9s ;
}

.row .img20{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/Koppal.jpeg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition:transform 0.9s ;
}

.row .img21{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/mandya.jpeg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition:transform 0.9s ;
}

.row .img22{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/Mysore.jpeg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition:transform 0.9s ;
}

.row .img23{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/Raichur_Fort_1.jpg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition:transform 0.9s ;
}

.row .img24{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/ramanagara.jpeg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition:transform 0.9s ;
}

.row .img25{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/Shivamogga.jpeg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition:transform 0.9s ;
}

.row .img26{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/Thumakuru.jpeg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition:transform 0.9s ;
}

.row .img27{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/udupi.jpeg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition:transform 0.9s ;
}

.row .img28{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/Uttar\ kanna.jpg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition:transform 0.9s ;
}

.row .img29{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/Vijaynagar.jpeg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition:transform 0.9s ;
}

.row .img30{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/Vijayapura.jpeg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition:transform 0.9s ;
}

.row .img31{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/Yadgiri.jpeg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition:transform 0.9s ;
}
  
.row .img:hover{
    transform: scale(1.1);
}
  




/* --------------responsive nav bar-------------------------------------------- */
@media only screen and (max-width:600px){
    nav .menu{
        display: block;
    }
    nav{
        padding:10px 0 10px 20px;
    }
    nav ul{
        display: none;
    }
    nav .menu{
        margin-right:30px;
    }
    .gallery_heading{
        font-size: 35px;
        margin-left: 40px;
    }
    #grid input{
        width:90%;
        margin:50px 0 0px 4%;
        font-size: 25px;

    }
}

@media only screen and (max-width:400px){
    .gallery_heading{
        font-size: 30px;
        margin-left: 28px;
    }
    #grid input{
        width:90%;
        margin:50px 0 0px 4%;
        font-size: 20px;

    }
}

 