@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200;1,300;1,400;1,500;1,600;1,900&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:ital,wght@1,200;1,300;1,400;1,500;1,600;1,900&display=swap'); */
html{
  scroll-behavior: smooth;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style-type:none;
    text-decoration:none;
    font-family: 'Poppins', sans-serif;
}
#header{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)), url(images/transport.jpg);
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    width:100%;
    height:100vh;
}

nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    height:80px;
    width:100%;
    background-image: linear-gradient(to top, #2ad9e3, #00cfee, #00c4f6, #32b7f9, #5ca9f6);
    padding:10px 0 10px 50px;
}

nav img{
    height:60px;
    width:60px;
    border-radius: 50%;
}

nav ul{
    margin-right: 200px;
}

nav ul li{
    display:inline-block;
    padding:0 20px;
}

nav ul li a{
    color: white;
    font-weight: 500;
    font-size:18px;
}

nav .menu{
    color:white;
    font-size: 20px;
    margin-right:50px;
    display: none;
}

nav .close{
    color:white;
    font-size: 20px;
    margin-right:40px;
}

.sidemenu{
    /* align-items: center; */
    display:inline-block;
    text-align: center;
    right:0;
    position: absolute;
    background: red;
    width: 100%;
    border-radius: 10px;
    /* height: 100vh; */
    display: none;
    transition: all 0.5s;
}

.sidemenu li{
    padding: 10px 10px;

}

.sidemenu li a{
    font-size: 18px;
    color: black;
    padding:10px 30px;
    transition:0.5s;

}

.sidemenu li a:hover{
    background: black;
    border-radius: 30px;
    color: white;
}

.tittle{
    font-size:80px;
    /* color:rgb(124, 124, 124); */
    text-align: center;
    margin-top: 250px;
    -webkit-text-stroke:1.5px rgb(187, 167, 167);
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to left,#ff0000,#ffc800);
}


/*-------------------------------------------about transport---------------------------------------- */
#about-transport{
    background-image: linear-gradient(to bottom, #dee4ee, #dfecf2, #e5f4f3, #effaf4, #fcfff6);
    padding:3% 8%;
    text-align: justify;
}

.heading{
    font-size:40px;
    color:#00DBEA;
    padding:10px 0;
    letter-spacing:2.5px;
}

.transport-descripion{
    line-height:25px;
    letter-spacing:.5px;
    font-size:16px;
    color:#818A94;
    /* border-left:5px dotted #000; */
    padding-left:50px;
}

span{
    color: rgb(112, 112, 112);
    font-size: 25px;

}

/* <!-- -------------------------------------------------one by one explination-------------------------------- --> */
#list{
    padding:5% 8%;
    background-image: linear-gradient(to bottom, #dee4ee, #dfecf2, #e5f4f3, #effaf4, #fcfff6);
}

.ksrtc-name{
    font-size: 35px;
    text-align: center;
    padding-bottom:20px;
    letter-spacing:3px ;
    text-transform: uppercase;
    color:red   ;
    margin-top:50px;
    font-weight:600;

}
.ksrtc-name:first-child{
    margin-top:0px;
}

.list{
    display: flex;
    flex-wrap: wrap;

}

.ksrtc-photo{
    flex-basis: 20%;
    margin-right:20px;
}

.ksrtc-photo img{
    width:450px;
    opacity:.7;
    height:calc(100% / 2);
}

.ksrtc-description{
    flex-basis:60%;
    margin-left:20px;
    text-align: justify;
}

.bold{
    font-weight: bold;
    font-size: 18px;
    color:black;
}







@media only screen and (max-width:800px){
    .tittle{
        font-size:70px;
        margin-top:180px;
    }
    .ksrtc-photo img{
        width:100%;
        opacity:.7;
    }
    .ksrtc-photo{
        flex-basis:100%;
        margin-right:20px;
    }
    
    
    .ksrtc-description{
        flex-basis:100%;
        margin-left:5px;
        text-align: justify;
    }
    .heading{
        font-size:40px;
    }
    .ksrtc-name{
        font-size: 35px;
        padding-bottom:30px;
        margin-top:20px;
        font-weight:600;
    }
    
    }
/* ---------------------------------------------responsive nav bar-------------------------------------------- */
@media only screen and (max-width:600px){
    nav .menu{
        display: block;
    }
    nav{
        padding:10px 0 10px 20px;
    }
    nav ul{
        display: none;
    }
    nav .menu{
        margin-right:30px;
    }
    .tittle{
        font-size:50px;
        margin-top:180px;
    }
    .ksrtc-photo img{
        /* width:300px  ; */
        width:100%;
        opacity:.7;
    }
    .ksrtc-photo{
        flex-basis:100%;
        margin-right:20px;
    }
    
    
    .ksrtc-description{
        flex-basis:100%;
        margin-left:5px;
        text-align: justify;
    }
    .heading{
        font-size:30px;
    }
    .ksrtc-name{
        font-size: 25px;
        padding-bottom:30px;
        margin-top:20px;
        font-weight:600;
    }
    
  }


@media only screen and (max-width:500px){
.tittle{
    font-size:50px;
    margin-top:180px;
}
.ksrtc-photo img{
    /* width:300px; */
    width:100%;
    opacity:.7;
}
.ksrtc-photo{
    flex-basis:100%;
    margin-right:20px;
}


.ksrtc-description{
    flex-basis:100%;
    margin-left:5px;
    text-align: justify;
}
.heading{
    font-size:30px;
}
.ksrtc-name{
    font-size: 25px;
    padding-bottom:30px;
    margin-top:20px;
    font-weight:600;
}

}


@media only screen and (max-width:400px){
.tittle{
    font-size:50px;
    margin-top:180px;
}
.ksrtc-photo img{
    /* width:300px; */
    width:100%;
    opacity:.7;
}
.ksrtc-photo{
    flex-basis:100%;
    margin-right:20px;
}


.ksrtc-description{
    flex-basis:100%;
    margin-left:5px;
    text-align: justify;
}
.heading{
    font-size:30px;
}
.ksrtc-name{
    font-size: 25px;
    padding-bottom:30px;
    margin-top:20px;
    font-weight:600;
}

}